/**
 * Colors
 */
$bg-color-1: #00009a;
$bg-color-2: #b300b3;
$form-bg-color: rgba(0, 0, 0, .6);
$form-bg-color-focused: rgba(0, 0, 0, .8);
$btn-color: #FE4CFE;
$btn-color-hovered: #E500E5;

/**
 * Fonts
 */
$body-font: 'Lato', sans-serif;
$input-font: 'Roboto Mono', sans-serif;
$title-font: 'Roboto', sans-serif;
$body-font-size: 20px;
$input-font-size: 16px;

/**
 * Numbers
 */
$total-width: 960px;
$content-width: 640px;
